body{ color: cornflowerblue;}

h2{ color: darkblue;}

p{ color: black;
    display: block;
    background-color: hotpink; }

h4{ font-family: monospace;
color: black;
display: inline-block;
background-color: bisque;
height: 50px;
top: 300px;
left: 50px;}